header {
	font-size: 100%;
	top: 0px;
	height: 70px;
	position: fixed;
	width: 100%;
	background-color: grey;
}

#spacer {
	margin-top: 80px;
}

header h1 {
	float: left;
	margin-left: 5%;
}

header h2 {
	float: right;
	margin-right: 15%;
}
.categorydiv {
	width: 80%;
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 3%;
	font-size: 50%;
	float: left;
}

.spent {
	display: none;
}

.category {
	float: left;
	width: 100%;
}

.category h1 {
	margin-left: 0%;
	font-size: 300%;
	float: left;
}

.category h2 {
	float-right;
	font-size: 300%;
	width: 5%;
	margin-right: 5%;
	float: right;
}

.category p {
	font-size: 170%;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	border-color: solid green;
	border-width: 3px;
	/*background: lightblue;
	/*width: 70%;*/
	height: 30px;
	float: left;
}

.percentage {
	background-color: green;
	margin-left: 10%;
	}

.remainingPercentage {
	background-color: grey;
	box-sizing: border-box;
	float: left;
	visibility: hidden;
}

.category button {
	width: auto;
	float: left;
	top: 0px;
	font-size: 180%;
}

/*.spent {
	margin-top: 20px;
	margin-right: 0%;
	float: right;
	font-size: 200%;
	width: 100px;
}*/
